header {
  background-color: #7065c7;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
}

#logo {
  width: 160px;
  height: auto;
}

#menu {
  display: flex;
  gap: 20px;
}

#menu a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

#menu a:hover {
  color: #00b4d8;
}

#menu_toggle {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}
@media (max-width: 768px) {
    #menu_toggle{
        display: block;
    }
}