body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: rgb(230, 230, 230);
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 200px;
    height: auto;
}

nav {
    display: flex;
    gap: 15px;
}

nav a {
    color: #0d1b2a;
    text-decoration: none;
    padding: 10px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: whitesmoke;
}

main {
    padding: 20px;
    text-align: center;
}

.carousel {
    position: relative;
    width: 100%;
    height: 75vh;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Transição suave */
    height: 100%;
    width: 400%; /* Largura total de todas as imagens lado a lado */
}

.carousel-images img {
    width: 100%; /* Cada imagem ocupa 100% do tamanho do contêiner */
    height: 100%;
    object-fit: cover;
}

button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 10px;
    transform: translateY(-50%);
}

.next {
    right: 10px;
    transform: translateY(-50%);
}

.dots {
    text-align: center;
    margin-top: 10px;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
    cursor: pointer;
}

.dot:hover {
    background-color: #717171;
}

.active {
    background-color: #717171;
}
